<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4F9C0A581F0B99EB004D400A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9C0A6C1F0B99EC004D400A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4F9C0A771F0B99EC004D400A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
